<h2>Hello</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <button>Hoc ngay</button>
        </div>
        <div class="col-lg-9">
            <h4>{{course.name}}</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}?si=5LYpjLyf3yijr39A"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
                <p>{{course.description}}</p>
        </div>
    </div>
</div>